.brand {
    margin-bottom: 60px;
}

.brand {
    position: relative;
    padding: 0;
    color: #2f2f2f;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;
}

.brand:before {
    content: "";
    width: 60px;
    height: 3px;
    background: #f91942;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}

.image-bar {
    width: 100%;
    height: 140px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    /* border: 1px solid #e9e9e9; */
}

.mks-3-name {
    display: block;
    padding: 14px 0;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 4px 0px;
    background-color: #fbfdff;
    border: 1px solid #e9e9e9;
    font-size: 16px;
    color: #0f0d1d;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    letter-spacing: 1px;
}

.mks-3 {
    position: relative;
    display: inline-block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 25px;
}

a {
    text-decoration: none;
    color: #000;
}

.mks-3 img {
    height: auto;
    display: block;
    max-height: 100px;
    width: 100px;
    margin: 0 auto;
}

.brand-colum {
    margin-bottom: 30px;
}