.car {
  /* background-color: rgb(224, 221, 221); */
  padding: 30px;
  /* margin: 1px; */
  border-radius: 10px;
  /* height: 400px; */
}
.car img {
  width: 100%;
  height: 300px;
  /* border: 2px solid #37c2b7;
    border-radius: 75px; */
}
.bg-buy-plan {
  background: #282f3d;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.car h6,
h3 {
  font-weight: bold;
  color: #282f3d;
}
.car h3 {
  margin-top: 5px;
}

.car h5 {
  font-weight: bold;
  color: red;
}
.price-quan {
  color: #282f3d;
}
.price-quan span {
  margin-left: 160px;
}
