.cars {
  margin-top: 30px;
  text-align: center;
  /* display: flex;
      justify-content: center; */
}

.car-container {
  margin: 2%;
}

.manage-button {
  background-color: #2e2a2a;
  color: aliceblue;
  margin-bottom: 50px;
}

.manage-button button :hover {
  color: rgb(249, 252, 252);
}

.bikes-title {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.bikes-title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #1f1c1d;
}